@{
    Layout = "../Shared/_LayoutAcessar.cshtml";

}

<div class="container text-center" style="background-color:aqua ActiveCaption; border-radius:10px; padding:20px; 
     width:630px;">
    <button type="submit" class="btn btn-info col-lg-12 active"><a href="~/Home/IndexMenu" 
            style="color:aliceblue;">Acesso ao VendasWeb</a></button>
</div>
