<div class="row">
    </br >

    <a href="../Clientes/Index">
        <div class="col-lg-4 text-center">
            <img src="~/imagens/cadastro_cliente.png" alt="Cadastrar Vendas" width="100">
            <h2>Clientes</h2>
        </div>
    </a>

    <a href="../Produtos/Index">
        <div class="col-lg-4 text-center">
            <img src="~/imagens/cadastro_produto.png" alt="Cadastrar Produtos" width="100">
            <h2>Produtos</h2>
        </div>
    </a>

    <a href="../Pedidos/Index">
        <div class="col-lg-4 text-center">
            <img src="~/imagens/cadastro_venda.png" alt="Cadastrar Vendas" width="100">
            <h2>Pedidos</h2>
        </div>
    </a>
</div>   